<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png?">

{% seo %}
  </head>

  <body onload="init()">
    <!-- BACKGROUND -->
    <div id="particles-js"></div>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner center_card">
        {{ content }}
      </section>
    </div>

    <!-- COMMENTS -->
    <div id="comments_wrap" class="outer">
      <section id="comment_content" class="inner center_card">
        <div class="constrain">
          <div class="comment-title">
            Leave a Comment
          </div>
          {% include comment.html %}
        </div>

        <div class="js-comments constrain">   
          {% if page.slug %}
            {% assign comments = site.data.comments[page.slug] | sort %}
          {% else %}
            {% assign comments = site.data.comments.index | sort %}
          {% endif %}

          <!-- Build an array of times and comment ids, sorting this list gives us the correct comment order (including nested replys) -->
          {% assign sortList = "" | split: "," %}
          {% for comment in comments %}
            {% if comment[1].replychain %}
              {% assign sortValue = comment[1].replychain | append: "," | append: comment[1].date | append: "|" | append: comment[1]._id | append: "*" | append: forloop.index0 %}
            {% else %}
              {% assign sortValue = comment[1].replychain | append: comment[1].date | append: "|" | append: comment[1]._id | append: "*" | append: forloop.index0 %}
            {% endif %}
            {% assign sortList = sortList | push: sortValue %}
          {% endfor %}
          {% assign sortList = sortList | sort  %}

          {% for sortValue in sortList %}
            {% assign commentIndexString = sortValue | split: "*" | last %}
            {% assign commentIndexInt = commentIndexString | plus:0 %}
            {% assign comment = comments[commentIndexInt][1] %}
            {% assign indentCount = comment.replychain | split: "," | size | times: 5 %}
            {% assign width = 100 | minus: indentCount %}
            <article class="comment mdl-card mdl-shadow--2dp" style="margin-left:{{ indentCount }}%; width:{{ width }}%">
              <div class="mdl-card__title comment-header">
                <h2 class="mdl-card__title-text">{{ comment.name | strip_html }}</h2>
                <span class="date">{{ comment.date | strip_html }}</span>
                <!-- To parse date in ruby:| date: "%b %d, %y, %I:%M %P %Z"-->
              </div>
              <div class="comment-supporting-text-override mdl-card__supporting-text">
                <div class="comment__description">
                  {{ comment.message | strip_html | markdownify | replace: '<a href="http', '<a rel="nofollow" target="_blank" href="http'}}
                </div>
              </div>
              <button class="mdc-button comment-reply-button" id={{ comment._id }} onclick="showReply('{{ comment._id | strip_html }}', '{{ comment.date | strip_html }}', '{{ comment.name | strip_html }}', '{{ comment.replychain | strip_html }}')">  <span class="mdc-button__ripple"></span>REPLY</button>
            </article>
          {% endfor %}
        </div>
      </section>
    </div>

    <script>
      // This script tage is required because we need liquid to populate the comment.html (it won't do that in the javascript file)
      function showReply(parentId, parentDate, name, parentReplyChain) {
        // Add the new comment element to the document
        var replyButton = document.getElementById(parentId);
        replyButton.classList.add("hidden");
        var commentDiv = document.createElement('div');
        commentDiv.setAttribute('class', "comment-reply-wrapper");
        commentDiv.innerHTML = `{% include comment.html %}`;
        commentDiv.querySelector('input[name="fields[replychain]"]').value = parentReplyChain + "," + parentDate + "|" + parentId;
        commentDiv.innerHTML = '<hr>' + "<div>Replying to " + name + '</div>' + commentDiv.outerHTML;
        replyButton.parentNode.appendChild(commentDiv);

        // This is required to get the lables to float
        // Trying to get away with cloneing the existing comment box wont work (it will render but the floating labels will be broken). Here is why https://github.com/google/material-design-lite/issues/4275
        componentHandler.upgradeDom();

        // Re-attach javascript submit handlers
        initCommentSubmitActions();
      }
    </script>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </div>

    {% include modal.html %}

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
