<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png?">

{% seo %}
  </head>

  <body onload="init()">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- COMMENTS -->
    <section class="constrain">
      <div class="comment-title">
        Leave a Comment
      </div>
      <form id="new-comment" class="js-form form" method="POST" action="https://staticthbrown.herokuapp.com/v2/entry/thbrown/softball-app-blog/master/comments">
        <div class="form__spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>

        {% if page.slug %}
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        {% else %}
        <input name="options[slug]" type="hidden" value="index">
        {% endif %}
        <fieldset class="field-group">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="fields[name]" name="fields[name]"/>
            <label class="mdl-textfield__label" for="fields[name]">Your name</label>
          </div>
        </fieldset>

        <fieldset class="field-group">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="fields[email]" name="fields[email]"/>
            <label class="mdl-textfield__label" for="fields[email]">Your email (will not be public)</label>
          </div>
        </fieldset>

        <fieldset class="field-group">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="fields[message]" name="fields[message]"></textarea>
            <label class="mdl-textfield__label" for="fields[message]">Your comment (markdown allowed)</label>
          </div>
        </fieldset>

        <fieldset class="field-group">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Submit
          </button>
        </fieldset>

      </form>
    </section>

    <div class="js-comments constrain">   
      {% if page.slug %}
      {% assign comments = site.data.comments[page.slug] | sort %}
      {% else %}
      {% assign comments = site.data.comments.index | sort %}
      {% endif %}

      {% for comment in comments reversed %}
        {% assign commentData = comment[1] %}
    
        <article class="comment mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title comment-header">
            <h2 class="mdl-card__title-text">{{ commentData.name }}</h2>
            <span class="date">{{ commentData.date }}</span>
            <!-- To parse date in ruby:| date: "%b %d, %y, %I:%M %P %Z"-->
          </div>
          <div class="mdl-card__supporting-text">
            <div class="comment__description">
              {{ commentData.message | markdownify }}
            </div>
          </div>
        </article>
      {% endfor %}

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    {% include modal.html %}

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
